<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="/css/bulma.min.css"/>

    <style>
        ::-webkit-scrollbar {
        width: 10px;
        }
        ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        }
        ::-webkit-scrollbar-thumb {
        background: #888; 
            border-radius:5px;
        }
        ::-webkit-scrollbar-thumb:hover {
        
        background: #555; 
        } 
    </style>

    <script src="/JQuery/jquery.min.js"></script>

    <script>
        
        $(document).ready(function() {
        
        $('#eye').on('click',() => {
            if ($('#password').attr('type') == 'password') {
                $('#password').attr('type', 'text');
                $('#eye').removeClass('fas fa-eye-slash');
                $('#eye').addClass('fas fa-eye');
            } else if ($('#password').attr('type') == 'text') {
                $('#password').attr('type', 'password');
                $('#eye').removeClass('fas fa-eye');
                $('#eye').addClass('fas fa-eye-slash');
            }
        })

        $('#eye2').on('click',() => {
            if ($('#password2').attr('type') == 'password') {
                $('#password2').attr('type', 'text');
                $('#eye2').removeClass('fas fa-eye-slash');
                $('#eye2').addClass('fas fa-eye');
            } else if ($('#password2').attr('type') == 'text') {
                $('#password2').attr('type', 'password');
                $('#eye2').removeClass('fas fa-eye');
                $('#eye2').addClass('fas fa-eye-slash');
            }
        })

    });
        
    </script>

</head>
<body>

    <div class="box">
        <a href="/settings">
            <button class="button is-info">
                <i class="fas fa-arrow-left"></i> &nbsp; Go Back
            </button>
        </a>
        <a href="/home">
            <button class="button is-info">
                My Notes &nbsp;<i class="fas fa-sticky-note"></i>
            </button>
        </a>
        
    </div>

    <div class="container">


    <h1 class="title is-1">Change Password View</h1>

    <form id="form" method="post" action="/changePassword" >
        <label class="label">New Password <i id="eye" class="fas fa-eye-slash"></i></label>
        <div class="field">
        <div class="control has-icons-left has-icons-right">
            <input class="input is-info" placeholder="New Password" id="password" type="password" name="password">
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </div>   
        </div>  
        <label class="label">Repeat New Password <i id="eye2" class="fas fa-eye-slash"></i></label>
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input class="input is-info" placeholder="Repeat New Password" id="password2" type="password" name="password2">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
                
              </div>        
          </div>
        <input  style="margin-top:1%;" class="button is-info" type="submit" name="btn_login" value="Change Password">
    </form>
    <br>
    <div class="box">
        <p>
            <%= error %>
        </p>
    </div>

    </div>

</body>
</html>