<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="manifest" href="/ico/site.webmanifest">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <link rel="stylesheet" href="/css/bulma.min.css" />

    <style>
      ::-webkit-scrollbar {
        width: 10px;
      }
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      input[type="submit"] {
        font-weight: bold;
      }

      button {
        font-weight: bold;
      }
    </style>

    <script src="./JQuery/jquery.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#eye").on("click", () => {
          if ($("#password").attr("type") == "password") {
            $("#password").attr("type", "text");
            $("#eye").removeClass("fas fa-eye-slash");
            $("#eye").addClass("fas fa-eye");
          } else if ($("#password").attr("type") == "text") {
            $("#password").attr("type", "password");
            $("#eye").removeClass("fas fa-eye");
            $("#eye").addClass("fas fa-eye-slash");
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="box columns is-multiline">
      <a href="settings" class="column is-narrow">
        <button class="button is-info">
          <i class="fas fa-user-cog"></i>&nbsp;&nbsp;<%= usuario %>
        </button>
      </a>
      <a href="/home" class="column is-narrow">
        <button class="button is-info">
          My Notes &nbsp; <i class="fas fa-sticky-note"></i>
        </button>
      </a>
    </div>

    <section class="hero is-link">
      <div class="hero-body">
        <p class="title">Groups</p>
      </div>
    </section>

    <br />

    <div class="container">
      <div class="columns is-multiline is-centered">
        <% for(group in groups){ %> <% var name = groups[group].name %>

        <div class="column is-two-fifths">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><%= name %></p>
                </div>
              </div>
              <div class="content">
                <a href="groups/<%= name %>">
                  <button class="button is-info">
                    <i class="fas fa-external-link-alt"></i>&nbsp;Go
                  </button>
                </a>
              </div>
              <form method="post" action="/deleteGroup">
                <input
                  class="button is-danger"
                  type="submit"
                  name="deleteNote"
                  value="Exit Group"
                />
              </form>
            </div>
          </div>
        </div>
        <% } %>
      </div>

      <form method="post" action="/createGroup">
        <label class="label">Group Name</label>
        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input
              class="input is-info"
              placeholder="Group Name"
              type="text"
              name="groupName"
            />
            <span class="icon is-small is-left">
              <i class="far fa-sticky-note"></i>
            </span>
          </div>
        </div>

        <br />
        <input
          class="button is-info"
          type="submit"
          name="btn_login"
          value="Create Group"
        />
      </form>
    </div>
  </body>
</html>
