<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'>

    <link rel="stylesheet" href="/css/bulma.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="./Jquery/jquery.min.js"></script>
  
    <style>
        ::-webkit-scrollbar {
        width: 10px;
        }
        ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        }
        ::-webkit-scrollbar-thumb {
        background: #888; 
            border-radius:5px;
        }
        ::-webkit-scrollbar-thumb:hover {
        
        background: #555; 
        } 
    </style>

    <script>


    </script>

</head>
<body>
    <div class="box">
        <a href="settings">
        <button class="button is-info">
            <i class="fas fa-user-cog"></i>&nbsp;&nbsp;<%= usuario %>
        </button>
        </a>
    </div>

    <section class="hero is-link">
        <div class="hero-body">
          <p class="title">
            Notes
          </p>
        </div>
    </section>  

      <br>

    <div class="container">  

    <form method="post" action="/newNote">
        <article class="message">
        <div class="message-header">
            <input class="input is-info input" placeholder="Note Title" type="text" name="noteTitle" value="">
        </div>
        <div class="message-body">
            <div class="field no-label">
                
                <div class="control">
                    <textarea class="textarea has-fixed-size is-info" placeholder="Note Content" name="noteContent"></textarea>
                </div>

            </div>
        </div>
        <input  style="margin-top:1%;" class="button is-info" type="submit" name="newNote" value="Add Note">
        </article>
    </form>
    <br>

    <% for(nota in notas){ %>
    
        <form method="post" action="/deleteNote">
        <article class="message">
        <div class="message-header">
            <input class="input is-info input" type="text" name="noteTitle" readonly="readonly" value="<%= notas[nota].NoteTitle; %>">
        </div>
        <div class="message-body">
            <div class="field no-label">
                
                <div class="control">
                    <textarea class="textarea has-fixed-size  is-info" name="noteContent" readonly><%= notas[nota].NoteContent; %></textarea>
                </div>

            </div>
        </div>
        <div class="field no-label">
            <input class="button is-danger" type="submit" name="deleteNote" value="Delete Note">
        </div>
        </article>
        </form>
        <br>
    <% } %>
    

    </div>
</body>

</html>
