<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="manifest" href="/ico/site.webmanifest">

    <link rel="stylesheet" href="/css/bulma.min.css"/>

    <style>
        ::-webkit-scrollbar {
        width: 10px;
        }
        ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        }
        ::-webkit-scrollbar-thumb {
        background: #888; 
            border-radius:5px;
        }
        ::-webkit-scrollbar-thumb:hover {
        
        background: #555; 
        } 
    </style>

    <script>

        
        
    </script>

</head>
<body>
    <div class="box">
        
        <nav class="level">
            <p class="level-item has-text-centered">
                <a href="login"><button style="top: 5%;" class="button is-info">Login</button></a>
            </p>
            <p class="level-item has-text-centered title">
              Piter Note App
            </p>
            <p class="level-item has-text-centered">
                <a href="register"><button class="button is-info">Register</button></a>
            </p>
          </nav>
    </div>
    

    <div class="container" style="text-align:center">

    


    

    </div>
</body>
</html>