<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="manifest" href="/ico/site.webmanifest">

    <title>Main Page</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>

    <script src="/smooth-scroll/dist/smooth-scroll.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="/css/bulma.min.css" />

    <style>
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px;
        }

        ::-webkit-scrollbar-thumb:hover {

            background: #555;
        }

        #topButton {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Fixed/sticky position */
            bottom: 20px;
            /* Place the button at the bottom of the page */
            right: 30px;
            /* Place the button 30px from the right */
            z-index: 99;
            /* Make sure it does not overlap */
            cursor: pointer;
            /* Add a mouse pointer on hover */
        }

        input[type="submit"] {
      font-weight: bold;
    }

    button {
      font-weight: bold;
    }

    .button {
        font-weight: bold;
    }

    .typed-cursor {
      display: none;
    }


    </style>

    <script src="/JQuery/jquery.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {

          var topButton = document.getElementById("topButton");

          window.onscroll = function () {
              scrollFunction();
          };

          function scrollFunction() {
              if (
                  document.body.scrollTop > 200 ||
                  document.documentElement.scrollTop > 200
              ) {
                  $("#topButton").fadeIn("3000");
              } else {
                  $("#topButton").fadeOut("3000");
              }
          }

                // Get all "navbar-burger" elements
                const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

                // Check if there are any navbar burgers
                if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                    });
                });
                }

                 new Typed('.typed-title', {
                  strings: ["Piter Note App.", "Piter Note App"],
                  typeSpeed: 150
                })


                var theme = window.localStorage.getItem('theme');

        if (theme == 'day'){
            $("#dayNightBtn").addClass("day");
            $("#dayNightBtn").removeClass("night");
            $("html").css("filter", "none");
            $("img").css("filter", "none");
            $(".dayNightIcon").removeClass("fa-sun");
            $(".dayNightIcon").addClass("fa-moon");
            window.localStorage.setItem('theme','day');
        }else if (theme == 'night'){
            $("#dayNightBtn").addClass("night");
            $("#dayNightBtn").removeClass("day");
            $("html").css("filter", "invert(1)");
            $("img").css("filter", "invert(1)");
            $(".dayNightIcon").removeClass("fa-moon");
            $(".dayNightIcon").addClass("fa-sun");
            window.localStorage.setItem('theme','night');
        }

        $("#dayNightBtn").click(() => {
          if ($("#dayNightBtn").hasClass("day")) {
            $("#dayNightBtn").addClass("night");
            $("#dayNightBtn").removeClass("day");
            $("html").css("filter", "invert(1)");
            $("img").css("filter", "invert(1)");
            $(".dayNightIcon").removeClass("fa-moon");
            $(".dayNightIcon").addClass("fa-sun");
            window.localStorage.setItem('theme','night');
          } else {
            $("#dayNightBtn").addClass("day");
            $("#dayNightBtn").removeClass("night");
            $("html").css("filter", "none");
            $("img").css("filter", "none");
            $(".dayNightIcon").removeClass("fa-sun");
            $(".dayNightIcon").addClass("fa-moon");
            window.localStorage.setItem('theme','day');
          }
        });
                    
        });

    </script>

</head>
<body>
  
        <nav class="navbar" role="navigation" aria-label="main navigation" id="header">
            <div class="navbar-brand">
              <div class="navbar-item">
                <a href="/">
                  <img src="/ico/favicon-32x32.png">
                </a>
              </div>
        
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
        
            </div>
        
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
        
                <div class="navbar-item day" id="dayNightBtn">
                  <div class="buttons">
                    <a class="button is-info">
                      <i class="far fa-moon dayNightIcon"></i>
                    </a>
                  </div>
                  
                </div>

              </div>
        
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <% if (loggedIn == false){ %>
                    <a href="/login" class="button is-info">
                        <i class="fas fa-user-lock"></i>&nbsp;&nbsp;Login
                    </a>
                    <a href="/register" class="button is-info">
                        <i class="fas fa-user-plus"></i>&nbsp;&nbsp;Register
                    </a>
                    <% } else { %>
                    <a href="/home" class="button is-info">
                        <i class="fas fa-sticky-note"></i>&nbsp;&nbsp;Home
                    </a>
                    <a href="/logout" class="button is-info">
                        <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Log Out
                    </a>
                    <% } %>
                  </div>
                </div>
              </div>
        
            </div>
        
            </div>
          </nav>

  <div style="background: linear-gradient(135deg,#13F1FC,#0470DC);background: -webkit-linear-gradient(135deg,#13F1FC,#0470DC);background: -o-linear-gradient(135deg,#13F1FC,#0470DC);background: -moz-linear-gradient(135deg,#13F1FC,#0470DC);background: -ms-linear-gradient(135deg,#13F1FC,#0470DC);">

          <section class="hero is-info" style="text-align:center;background:none;">
            <div class="hero-body">
              <p class="title is-3 typed-title">
              </p>
              <a href="/home" class="button is-primary ">
                Go make new Notes
              </a>
            </div>
          </section>


    <div class="container box">

      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary">
                <p class="title">Be ...</p>
              </article>
              <article class="tile is-child notification is-warning">
                <p class="title">... More ...</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <p class="title">... Productive ...</p>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title">... At ...</p>
              <div class="content">
                <!-- Content -->
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <div class="content">
              <p class="title">... Work</p>
              <div class="content">
                <!-- Content -->
              </div>
            </div>
          </article>
        </div>
      </div>

    </div>

    <section class="section box container" style="margin-top:8%">
      <p class="title" style="text-align:center;padding-bottom: 1%;padding-top: 3%;" >Simple</p>
      <h1 class="subtitle" style="text-align:center;">
        try our individual notes to <strong>keep order</strong> in your life or group notes for your <strong>working groups</strong>.
      </h1>
      <p class="title" style="text-align:center;padding-bottom: 3%;padding-top: 1%;" > <i class="fas fa-check"></i></p>
    </section>

    <section class="section box container">
      <p class="title" style="text-align:center;padding-bottom: 1%;padding-top: 3%;" >Secure</p>
      <h1 class="subtitle" style="text-align:center;">
        everything is <strong>encrypted</strong> so that none of your <strong>personal data</strong> is compromised.

      </h1>
      <p class="title" style="text-align:center;padding-bottom: 3%;padding-top: 1%;" > <i class="fas fa-lock"></i></p>
    </section>

    <section class="section box container" style="margin-bottom: 8%;">
      <p class="title" style="text-align:center;padding-bottom: 1%;padding-top: 3%;" >Private</p>
      <h1 class="subtitle" style="text-align:center;">
        we do not use or have access to your user behavior analytics and do <strong>not make use of trackers</strong>.

      </h1>
      <p class="title" style="text-align:center;padding-bottom: 3%;padding-top: 1%;" > <i class="fas fa-user-secret"></i></p>
    </section>

    <footer id="footer" class="footer">
      <script>
        var scroll = new SmoothScroll('a[href*="#"]', {
            speed: 500,
            speedAsDuration: true,
          });
      </script>
  
      <div class="content has-text-centered">
        <p>
          <strong>PiterNoteApp</strong> by
          <a href="https://github.com/PiterWeb">PiterDev</a>. This is an
          <a href="https://github.com/PiterWeb/PiterNoteApp">open source</a>
          project .
        </p>
      </div>
    </footer>

</div>

<a data-scroll href="#header" id="topButton" class="button is-link"><i class="fas fa-chevron-up"></i></a>

</body>

</html>