<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bulma.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        ::-webkit-scrollbar {
        width: 10px;
        }
        ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        }
        ::-webkit-scrollbar-thumb {
        background: #888; 
            border-radius:5px;
        }
        ::-webkit-scrollbar-thumb:hover {
        
        background: #555; 
        } 
    </style>

    <script>

        
        
    </script>

</head>
<body>
    <div class="box">
        <a href="/login">
            <button class="button is-info">
                <i class="fas fa-arrow-left"></i> &nbsp;Go Back
            </button>
        </a>  
    </div>
    

    <div class="container">


    <h1 class="title is-1">Reset Password View</h1>

    <form method="post" action="/resetPassword" >

        <label class="label">Email</label>
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input class="input is-info" placeholder="Email" type="email" name="email">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>        
          </div>
        
        <input  style="margin-top:1%;" class="button is-info" type="submit" name="btn_login" value="Send Verification Link">
    </form>

    </div>

</body>
</html>