<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">

    <script>

        
        
    </script>

</head>
<body>
    <div class="box">
        <button class="button is-info" onclick="history.back();">
            Go Back
        </button>
    </div>

    <div class="container">

    <h1 class="title is-1">Settings View</h1>

    <a href="logout"><button style="top: 5%;" class="button is-info">Log Out</button></a>
    <a href="changeEmail"><button style="top: 5%;" class="button is-info">Change Email</button></a>
    <a href="changePassword"><button class="button is-info">Change Password</button></a>
    

    </div>
</body>
</html>